{% extends 'base.html' %}

{% block content %}

<div class="account-container">
    {% if error %}
    {{ error }}
    <br> <br> <br>
    {% endif %}

    <h1>로그인</h1>

    <form class="account-form" method="POST" action="{% url 'login' %}">
        
        {% csrf_token %}
        <div class="account-inner-form">
            아이디
            <input name="username" type="text" value="">
            <br>
            비밀번호
            <input name="password" type="password" value="">
        </div>
        <br>
        <br>
        <input class="menu-wide-btn" type="submit" value="Login">
    </form>

    <div class="login-signup">
        <p>아직 계정이 없다면?</p> <a class="login-bottomline-btn" href="{% url 'signup' %}">회원가입하기</a>
    </div>
</div>


{% endblock %}